<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testNG_ParametersXML.TestNGMain"/>
      <class name="com.testNG_Groups.TestNGMain"/>
      <class name="com.testNG_GroupOfGroups.TestNGMain"/>
      <class name="com.testNG_EnableAttribute.TestNGMain"/>
      <class name="com.testNG_PartialGroups.TestNGMain"/>
      <class name="com.testNG_ParametersDataProvider.TestNGMain"/>
      <class name="com.testNG_DependenciesGroups.TestNGMain"/>
      <class name="com.testNG_Methods.TestNGMain"/>
      <class name="com.testNG_MethodsRegEx.TestNGMain"/>
      <class name="com.testNG_ParametersDataProviderDifferentClasses.TestNGMain"/>
      <class name="com.testNG_IgnoreTestsMethodLevel.TestNGMain"/>
      <class name="com.testNG_DependenciesMethods.TestNGMain"/>
      <class name="com.testNG_DependenciesXML.TestNGMain"/>
      <class name="com.testNG_DependenciesMethodsOverloaded.TestNGMain"/>
      <class name="com.testNG_ClassLevelTESTAnnotation.TestNGMain"/>
      <class name="com.testNG_IgnoreTestsClassLevel.TestNGMain"/>
      <class name="com.testNG_ParallelTests.TestNGMain"/>
      <class name="com.testNG_GroupsRegEx.TestNGMain"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
